.pokedex__container {
  background-color: #b10824;
  width: 570px;
  margin: 50px auto;
  height: 768px;
  border-radius: 30px;
}

.pokedex__header {
  background-color: #dc0a2d;
  width: 100%;
  height: 150px;
  border-radius: 30px;
  clip-path: polygon(0 0, 100% 0, 100% 45%, 62% 45%, 35% 100%, 0 100%);
  display: flex;
  align-items: flex-start;
  padding: 20px;
}

/* (0 0, 100% 0, 100% 13%, 66% 13%, 52% 34%, 0 35%) */
/* 0 0, 100% 0, 100% 33%, 62% 33%, 51% 60%, 0 60%); */

.bigCircle {
  width: 100px;
  height: 100px;
  background-color: #2ba9fb;
  border-radius: 50%;
  border: 7px solid white;
  margin: 0 20px;
}

.smallCircle {
  width: 20px;
  height: 20px;
  background-color: aliceblue;
  border-radius: 50%;
  margin: 0 10px;
  border: 1px solid black;
}

.red {
  background-color: #aa021b;
}

.yellow {
  background-color: rgb(241, 215, 97);
}

.green {
  background-color: rgb(2, 116, 21);
}
