@font-face {
  font-family: "Old London";
  src: url(./fonts/OldLondon.ttf);
}

@font-face {
  font-family: "Rubik";
  src: url(./fonts/Rubik-Regular.ttf);
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}
*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  background-image: linear-gradient(to bottom, #b7c4cf, #8ea2b4);
}

header {
  width: 40rem;
  margin: 0 auto;
  font-size: 2rem;
}

.heading__title {
  font-family: "Old London";
  font-size: 7rem;
  text-align: center;
  color: #5f5f9c;
  margin: 5rem auto;
}

.nav__container {
  font-family: "Rubik";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  padding: 1rem;
  background-color: #c1ccd6;
  display: none;
}

.nav__list {
  list-style: none;
  width: 40rem;
  display: flex;
  justify-content: space-between;
  padding-inline-start: 0;
  margin: 0 auto;
}

.chapters__content {
  width: 70%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(142, 174, 255, 0.425);
  padding: 6rem;
  border-radius: 5px;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
  z-index: 10;
  font-size: 2rem;
  font-family: "Rubik";
  color: whitesmoke;
}

.chapters__content li {
  padding-top: 2rem;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(3px);
  z-index: 5;
}

.hidden {
  display: none;
}

.close-modal {
  position: absolute;
  top: 1.2rem;
  right: 2rem;
  font-size: 5rem;
  color: #333;
  cursor: pointer;
  border: none;
  background: none;
}

#btn_chapters {
  position: fixed;
  font-size: 3rem;
  top: 2rem;
  right: 1rem;
}

#btn_chapters:hover {
  background-color: rgba(101, 153, 166, 0.486);
  border-radius: 3px;
}

.aside-two {
  width: 40rem;
  font-size: 2rem;
  margin: 1rem auto;
  font-family: "Rubik";
}

.main-content {
  width: 40rem;
  font-size: 2rem;
  margin: 1rem auto;
  letter-spacing: 1px;
  font-family: "Rubik";
  text-align: justify;
  line-height: 3rem;
}

.main-content p {
  margin-bottom: 3rem;
}

.head_text {
  line-height: 4rem;
}

.information__content {
  font-size: 1.5rem;
  font-family: "Rubik";
}

.fas {
  font-size: 2.4rem;
  margin-left: 2rem;
  color: #8ea2b4;
  display: inline-block;
}

.fas:hover {
  color: #282a2c;
  cursor: pointer;
}

.new1 {
  border-top: 1px solid #28333d;
  margin: 2rem auto;
  width: 90%;
}

#information_title {
  color: #8ea2b4;
  display: inline-block;
}

.info_ul {
  margin-top: 1rem;
  width: 40rem;
}

footer {
  font-size: 1.5rem;
  padding: 2rem;
  text-align: center;
}

@media screen and (min-width: 720px) {
  .heading__title {
    font-size: 9rem;

    margin: 5rem auto;
  }
  header {
    width: 62rem;
    margin: 0 auto;
    font-size: 2rem;
  }
  .nav__container {
    display: inline;
  }
  .nav__list {
    width: 62rem;
  }
  .info_ul {
    margin-top: 1rem;
    width: 62rem;
  }

  .aside-two {
    width: 62rem;
    font-size: 4rem;
    margin: 1rem auto;
  }

  .main-content {
    width: 62rem;
    font-size: 2rem;
  }
}

@media screen and (min-width: 1000px) {
  header {
    width: 94rem;
    margin: 0 auto;
  }

  .nav__list {
    width: 94rem;
  }
  .info_ul {
    margin-top: 1rem;
    width: 94rem;
  }

  .aside-two {
    width: 94rem;
    margin: 1rem auto;
  }

  .main-content {
    width: 94rem;
  }
}

@media screen and (min-width: 1300px) {
  header {
    width: 120rem;
    margin: 0 auto;
    font-size: 2rem;
  }

  .nav__list {
    width: 120rem;
  }
  .info_ul {
    margin-top: 1rem;
    width: 120rem;
  }

  .aside-two {
    width: 120rem;
    font-size: 4rem;
    margin: 1rem auto;
  }

  .main-content {
    width: 120rem;
    font-size: 2rem;
  }
}
