h1 {
    font-family:sans-serif;
}
p {
    font-weight: 600;
    font-size: calc(3*16px) ;
}

body {
    font-size: 16px;
}

#amar {
    background:yellow;
    font-style: italic;
}

#ver {
    background: red;
    font-style: oblique;
}

#mar {
    background: brown;
    text-align: center;
    text-decoration: underline;
}

.lista {
    line-height: 10;
}